In [1]:
import pandas as pd

## Health conditions and contributing causes mentioned in conjunction with deaths involving coronavirus disease 2019 (COVID-19)

In [2]:
conditions = pd.read_csv('covid_conditions.csv')

In [3]:
#dataset structure
conditions.head()

,Data as of,Start Week,End Week,State,Condition Group,Condition,ICD10_codes,Age Group,Number of COVID-19 Deaths,Flag
0,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,102.0,NaN
1,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,532.0,NaN
2,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,1346.0,NaN
3,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,3710.0,NaN
4,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,8890.0,NaN

In [4]:
#rename the columns
conditions.columns = ['data_as_of', 'start_week', 'end_week', 'state',
                     'condition_group', 'condition', 'icd10_codes', 
                     'age_group', 'number_of_covid_19_deaths', 'flag']

conditions.head()

,data_as_of,start_week,end_week,state,condition_group,condition,icd10_codes,age_group,number_of_covid_19_deaths,flag
0,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,102.0,NaN
1,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,532.0,NaN
2,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,1346.0,NaN
3,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,3710.0,NaN
4,08/16/2020,02/01/2020,08/15/2020,US,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,8890.0,NaN

The following is not the total number of deaths (read the dataset documentation for details).

In [5]:
 conditions.number_of_covid_19_deaths.sum()

2310534.0

There are also rows with number of COVID-19 deaths for all ages.

In [6]:
conditions.age_group.unique()

array(['0-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84',
       '85+', 'Not stated', 'All ages'], dtype=object)

Set number of Covid-19 deaths to 5 for the rows with flag "Counts less than 10 suppressed"

In [7]:
conditions.loc[(conditions.number_of_covid_19_deaths.isnull()) & (~conditions.flag.isnull()), 'number_of_covid_19_deaths'] = 5.0

Since it is not specified in the documentation what missing counts of death along with missing flags mean, 
I will leave them as nulls.

In [8]:
conditions[(conditions.number_of_covid_19_deaths.isnull())].head()

,data_as_of,start_week,end_week,state,condition_group,condition,icd10_codes,age_group,number_of_covid_19_deaths,flag
12140,08/16/2020,02/01/2020,08/15/2020,YC,Obesity,Obesity,E65-E68,0-24,NaN,NaN
12147,08/16/2020,02/01/2020,08/15/2020,YC,Obesity,Obesity,E65-E68,85+,NaN,NaN
12148,08/16/2020,02/01/2020,08/15/2020,YC,Obesity,Obesity,E65-E68,Not stated,NaN,NaN
12150,08/16/2020,02/01/2020,08/15/2020,YC,Alzheimer disease,Alzheimer disease,G30,0-24,NaN,NaN
12151,08/16/2020,02/01/2020,08/15/2020,YC,Alzheimer disease,Alzheimer disease,G30,25-34,NaN,NaN

Keep the US as state only.

In [9]:
conditions = conditions[(conditions.state == 'US')]

Get a dataset with states, conditions and number of deaths.

In [10]:
conditions_all_ages = conditions[conditions.age_group == "All ages"].reset_index(drop=True)
conditions_deaths = conditions_all_ages[['condition','number_of_covid_19_deaths']].reset_index(drop=True)

Get a dataset with states, conditions and number of deaths by age groups.

In [11]:
conditions_by_ages = conditions[conditions.age_group != "All ages"].reset_index(drop=True)
conditions_ages_deaths = conditions_by_ages[['condition','age_group','number_of_covid_19_deaths']].reset_index(drop=True)

In [12]:
conditions_deaths

,condition,number_of_covid_19_deaths
0,Influenza and pneumonia,64465.0
1,Chronic lower respiratory diseases,12947.0
2,Adult respiratory distress syndrome,21054.0
3,Respiratory failure,52045.0
4,Respiratory arrest,3158.0
5,Other diseases of the respiratory system,5311.0
6,Hypertensive diseases,33153.0
7,Ischemic heart disease,16963.0
8,Cardiac arrest,19432.0
9,Cardiac arrhythmia,9254.0
10,Heart failure,10051.0
11,Cerebrovascular diseases,7244.0
12,Other diseases of the circulatory system,8236.0
13,Sepsis,13222.0
14,Malignant neoplasms,7003.0
15,Diabetes,24218.0
16,Obesity,5160.0
17,Alzheimer disease,5290.0
18,Vascular and unspecified dementia,17587.0
19,Renal failure,12897.0
20,"Intentional and unintentional injury, poisonin...",4794.0
21,All other conditions and causes (residual),73546.0
22,COVID-19,153504.0

In [13]:
conditions_ages_deaths.shape

(207, 3)

In [14]:
conditions_deaths.to_csv('conditions_deaths.csv', index = False)

In [15]:
conditions_ages_deaths.to_csv('conditions_ages_deaths.csv', index = False)

## Deaths involving coronavirus disease 2019 (COVID-19), pneumonia, and influenza reported to NCHS by sex and age group and state.

In [16]:
df = pd.read_csv('Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv')

In [17]:
df.head()

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,08/19/2020,02/01/2020,08/15/2020,United States,All,Under 1 year,17.0,9514.0,87.0,2.0,16.0,118.0,NaN
1,08/19/2020,02/01/2020,08/15/2020,United States,All,1-4 years,12.0,1840.0,61.0,2.0,41.0,112.0,NaN
2,08/19/2020,02/01/2020,08/15/2020,United States,All,5-14 years,27.0,2820.0,92.0,8.0,51.0,162.0,NaN
3,08/19/2020,02/01/2020,08/15/2020,United States,All,15-24 years,264.0,17838.0,356.0,90.0,52.0,578.0,NaN
4,08/19/2020,02/01/2020,08/15/2020,United States,All,25-34 years,1201.0,37040.0,1364.0,532.0,150.0,2169.0,NaN

In [18]:
#rename the columns
df.columns = ['data_as_of', 'start_week', 'end_week', 'state',
                     'sex', 'age_group', 'covid19_deaths', 'total_deaths',
                     'pneumonia_deaths', 'pneumonia_and_covid19_deaths',
                     'influenza_deaths', 'pneumonia_influenza_or_covid19_deaths',
                     'footnote']

df.head()

,data_as_of,start_week,end_week,state,sex,age_group,covid19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid19_deaths,influenza_deaths,pneumonia_influenza_or_covid19_deaths,footnote
0,08/19/2020,02/01/2020,08/15/2020,United States,All,Under 1 year,17.0,9514.0,87.0,2.0,16.0,118.0,NaN
1,08/19/2020,02/01/2020,08/15/2020,United States,All,1-4 years,12.0,1840.0,61.0,2.0,41.0,112.0,NaN
2,08/19/2020,02/01/2020,08/15/2020,United States,All,5-14 years,27.0,2820.0,92.0,8.0,51.0,162.0,NaN
3,08/19/2020,02/01/2020,08/15/2020,United States,All,15-24 years,264.0,17838.0,356.0,90.0,52.0,578.0,NaN
4,08/19/2020,02/01/2020,08/15/2020,United States,All,25-34 years,1201.0,37040.0,1364.0,532.0,150.0,2169.0,NaN

In [19]:
df.shape

(1416, 13)

In [20]:
df.data_as_of.unique()

array(['08/19/2020'], dtype=object)

In [21]:
df.start_week.unique()

array(['02/01/2020'], dtype=object)

In [22]:
df.end_week.unique()

array(['08/15/2020'], dtype=object)

In [23]:
df.state.unique()

array(['United States', 'United States Total', 'Alabama', 'Alabama Total',
       'Alaska', 'Alaska Total', 'Arizona', 'Arizona Total', 'Arkansas',
       'Arkansas Total', 'California', 'California Total', 'Colorado',
       'Colorado Total', 'Connecticut', 'Connecticut Total', 'Delaware',
       'Delaware Total', 'District of Columbia',
       'District of Columbia Total', 'Florida', 'Florida Total',
       'Georgia', 'Georgia Total', 'Hawaii', 'Hawaii Total', 'Idaho',
       'Idaho Total', 'Illinois', 'Illinois Total', 'Indiana',
       'Indiana Total', 'Iowa', 'Iowa Total', 'Kansas', 'Kansas Total',
       'Kentucky', 'Kentucky Total', 'Louisiana', 'Louisiana Total',
       'Maine', 'Maine Total', 'Maryland', 'Maryland Total',
       'Massachusetts', 'Massachusetts Total', 'Michigan',
       'Michigan Total', 'Minnesota', 'Minnesota Total', 'Mississippi',
       'Mississippi Total', 'Missouri', 'Missouri Total', 'Montana',
       'Montana Total', 'Nebraska', 'Nebraska Total', 'Nevada',
       'Nevada Total', 'New Hampshire', 'New Hampshire Total',
       'New Jersey', 'New Jersey Total', 'New Mexico', 'New Mexico Total',
       'New York', 'New York Total', 'New York City',
       'New York City Total', 'North Carolina', 'North Carolina Total',
       'North Dakota', 'North Dakota Total', 'Ohio', 'Ohio Total',
       'Oklahoma', 'Oklahoma Total', 'Oregon', 'Oregon Total',
       'Pennsylvania', 'Pennsylvania Total', 'Rhode Island',
       'Rhode Island Total', 'South Carolina', 'South Carolina Total',
       'South Dakota', 'South Dakota Total', 'Tennessee',
       'Tennessee Total', 'Texas', 'Texas Total', 'Utah', 'Utah Total',
       'Vermont', 'Vermont Total', 'Virginia', 'Virginia Total',
       'Washington', 'Washington Total', 'West Virginia',
       'West Virginia Total', 'Wisconsin', 'Wisconsin Total', 'Wyoming',
       'Wyoming Total', 'Puerto Rico', 'Puerto Rico Total'], dtype=object)

In [24]:
df.sex.unique()

array(['All', 'Male', 'Female', 'Unknown'], dtype=object)

In [25]:
df.age_group.unique()

array(['Under 1 year', '1-4 years', '5-14 years', '15-24 years',
       '25-34 years', '35-44 years', '45-54 years', '55-64 years',
       '65-74 years', '75-84 years', '85 years and over', 'All ages'],
      dtype=object)

In [26]:
df.footnote.unique()

array([nan,
       'One or more data cells have counts between 1â€“9 and have been suppressed in accordance with NCHS confidentiality standards.'],
      dtype=object)

## COVID-19 Case_Surveillance

In [27]:
df = pd.read_csv('COVID-19_Case_Surveillance_Public_Use_Data.csv')

/home/nata/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
df.head()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/07/03,NaN,NaN,Laboratory-confirmed case,Female,0 - 9 Years,"American Indian/Alaska Native, Non-Hispanic",Missing,Missing,Missing,Missing
1,2020/05/27,NaN,NaN,Laboratory-confirmed case,Female,0 - 9 Years,"American Indian/Alaska Native, Non-Hispanic",No,Missing,No,Missing
2,2020/06/06,NaN,NaN,Laboratory-confirmed case,Female,0 - 9 Years,"American Indian/Alaska Native, Non-Hispanic",Missing,Missing,Missing,Missing
3,2020/06/28,NaN,NaN,Laboratory-confirmed case,Female,0 - 9 Years,"American Indian/Alaska Native, Non-Hispanic",Missing,Missing,Missing,Missing
4,2020/07/06,NaN,NaN,Laboratory-confirmed case,Female,0 - 9 Years,"American Indian/Alaska Native, Non-Hispanic",Missing,Missing,Missing,Missing

In [30]:
df.current_status.value_counts()

Laboratory-confirmed case    2552919
Probable Case                 115256
Name: current_status, dtype: int64

In [32]:
df.sex.value_counts()

Female     1342585
Male       1266997
Missing      31730
Unknown      26760
Other           84
Name: sex, dtype: int64

In [34]:
df.age_group.value_counts()

20 - 29 Years    468471
30 - 39 Years    450637
40 - 49 Years    428478
50 - 59 Years    427865
60 - 69 Years    307648
80+ Years        177459
70 - 79 Years    175515
10 - 19 Years    161352
0 - 9 Years       67700
Unknown            2969
Name: age_group, dtype: int64

In [35]:
df.medcond_yn.value_counts()

Missing    1614971
Unknown     465752
Yes         386032
No          201420
Name: medcond_yn, dtype: int64

In [36]:
df.columns

Index(['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'current_status', 'sex',
       'age_group', 'Race and ethnicity (combined)', 'hosp_yn', 'icu_yn',
       'death_yn', 'medcond_yn'],
      dtype='object')